<h1>投稿一覧</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum molestias voluptate fugit numquam ut maxime commodi ipsam minima velit dignissimos quaerat maiores mollitia impedit reiciendis eligendi, ea debitis similique. Mollitia!</p>

<div class="posts-index">
  <% @posts.each do |post| %>
    <div class="posts-index-item">
      <%= post.content %>
    </div>
  <% end %>
</div>