<h1>投稿一覧</h1>

<div class="posts-index">
  <% @posts.each do |post| %>
    <div class="posts-index-item">
      <div class="mb-2">
        <%= link_to(post.content, "/posts/#{post.id}") %> 
      </div>
      <div>
        <%= post.created_at %> 
      </div>
    </div>
  <% end %>
</div>